.category-row {
    display: flex;
    width: 100%;
    margin: 0 !important;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
}
.right-block ul{
     display: flex;
    width: 100%;
    margin: 0 !important;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.categories-block .dropdown {
    display: none;
    list-style: none;
    padding-left: 0;
}
.top-row.row>div.title {
    max-width: 97px;
    max-height: 90px;
    overflow: hidden;
}

.right-block ul:before, .right-block ul:after{
    display: none !important;
}
.right-block h2.woocommerce-loop-product__title {
    color: white;
}
.right-block ul>li a:hover, .right-block ul>li a:active, .right-block ul>li a:focus {
    background: transparent !important;
}
.right-block ul a.button.product_type_simple{
    display: none !important;
}
.category-row + nav.woocommerce-pagination {
    display: none;
}
.right-block span.price {
    display: none !important;
}
.right-block ul>li img {
    max-width: 80px;
    border-radius: 50%;
}
.right-block ul>li img {
    max-width: 72px;
    min-height: 72px;
    object-fit: contain;
    border-radius: 50%;
    display: block !important;
    background: white;
}
.category-row {
    padding: 60px 15px;
}
.right-block h2.woocommerce-loop-product__title {
    margin-left: 15px !important;
}
.right-block ul>li a{
    display: flex;
}
.right-block ul>li{
    border-radius: 16px;
    min-height: 216px;
    margin-bottom: 30px !important;
    background: linear-gradient(105.3deg, #00A2E3 0%, #4DCDFF 97.63%);
    padding: 20px !important;
}
.category-row .right-block ul li:before {
    display: none !important;
}
.top-row.row>div {
    width: auto;
}

.product .row {
    display: flex;
    flex-direction: row;
}
.qnty-buttons {
    max-width: 150px;
    margin: auto;
    margin-right: 0;
    display: flex;
}
.qnty-buttons input {
    max-width: 30px;
    background: transparent;
    color: white;
    border: none;
    text-align: center;
}
.qnty-buttons button {
    background: white;
    border: none;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    color: #0094F7;
    display: flex;
    align-items: center;
    justify-content: center;
}
p.prduct-categories {
    display: flex;
    flex-direction: column;
}
p.prduct-categories span{
    margin-bottom: 7px;
    color: white;
}
.top-row.row .title h3 {
    color: white;
}
.bottom-row.row {
    margin-top: 20px;
    padding: 15px;
}
.bottom-row.row .description, .bottom-row.row .description * {
    font-size: 13px;
    text-align: left !important;
    margin: 0;
    line-height: 19px;
    color: white;
    max-height: 115px;
    overflow: hidden;
}
@media all and (min-width: 992px){
    .category-row>div.left-block {
        flex: 0 0 30%;
        max-width: 30%;
    }
    .category-row>div.right-block {
        flex: 0 0 70%;
        max-width: 70%;
    }
    .right-block ul>li {
        flex: 0 0 46%;
        max-width: 46%;
        margin-left: 0 !important;
        margin-right: 0 !important;
    }
}
@media all and (max-width: 991px){
    .category-row>div{
         flex: 0 0 100%;
        max-width: 100%;
        margin-bottom: 30px;
    }
    .right-block ul>li {
        flex: 0 0 100%;
        max-width: 100%;
        margin:0 0 30px !important;
    }
    
}